{% extends 'main.html' %}

{% block content %}
<body class="dashboard-bg">
  <div class="content-wrapper">
    
    <h2 id="greeting" style="color:white">Welcome to your dashboard, {{ username }}.</h2>
   
    <div class="clubs-section">
      
        <h2>Recommended clubs:</h2>
      {% if user_responses %}
        {% for response in user_responses %}
          <div class="club-container">
            <h3>{{ response.club }}</h3>
            <p>{{ response.description }}</p>
            
          </div>
        {% endfor %}
      {% else %}
        <p>No responses available.</p>
      {% endif %}
    </div>

    <div class="satisfaction-section">
      {% comment %} <h3>Submit feedback</h3> {% endcomment %}
      <!-- Links for "Yes" and "No" -->
      <div class="satisfaction-links">
        {% comment %} <button type="button" onclick="location.href='{% url 'satisfaction' %}?satisfied=yes'">Yes</button> {% endcomment %}
        <button type="button" onclick="location.href='{% url 'satisfaction' %}?satisfied=no'">Submit Feedback</button>
      </div>
    </div>
  </div>
</body>
{% endblock %}
