{% extends 'main.html' %}

{% block content %}
  <h2>Welcome to the Dashboard, changes here</h2>
  <h2>Recommended Clubs</h2>
  {% if user_responses %}
    <ul>
      {% for response in user_responses %}
        <li>. {{ response.club }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No responses available.</p>
  {% endif %}
<h3>Are you satisfied with the recommendations?</h3>
  
  <!-- Link for "Yes" -->
  <a href="{% url 'satisfaction' %}?satisfied=yes">Yes</a>

  <!-- Link for "No" -->
  <a href="{% url 'satisfaction' %}?satisfied=no">No</a>

{% endblock %}
